// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.router-link-exact-active{
    background-color: #3f51b5;
    color:#fff !important;
}
